.encabezdo_titulo{
    background-color: #545e6d;
    font-size: xx-large;
    color: #bcdbda;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px;
}

.encabezado_titulo_izquierda{
    margin: 10px;
}

.encabezado_titulo_derecha{
    position: relative;
    left: 60%;
    font-size: large; 
}