/* Spinner */

.display-spinner{       
    position: fixed;
    right: 0%;
    top: 0%; 
    width: 100%;
    background-color: rgba(132, 209, 233, 0.411);
    opacity: 0.3;
    min-height: 100%;
    height: auto;
}

.spinner{
    position: absolute;
    right: 50%;
    top: 40%;
    width: 60px; 
    height: 60px;    
}