<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tito Pulo</title>    
    <link rel="stylesheet" href="../css/index.css">
    <script src="../js/index.js"></script>
</head>
<body>
    <header>
        <div class="encabezdo_titulo">
            <label class="encabezado_titulo_izquierda">Tito Pulo Site</label>
            <label class="encabezado_titulo_derecha">Videoteca de Tito Pulo</label>
        </div>
        <div class="encabezado_menu">
            <table class="encabezado_menu_tabla">
                <tr>
                    <th>
                        <button type="submit">Películas</button>
                    </th>
                    <th>
                        <button type="submit">Autores</button>
                    </th>
                    <th>
                        <button type="submit">Años</button>
                    </th>
                    <th>
                        <button type="submit">Géneros</button>
                    </th>
                </tr>
            </table>
        </div>
    </header>

    <section>
        <table id="tabla_peliculas">
            <thead>
                <th>Título</th>
                <th>Año</th>
                <th>Autor</th>
                <th>Género</th>
                <th>Duración</th>
            </thead>                
            <tbody id="tabla_peliculas_body">
                
            </tbody>        
        </table>        
    </section>

    <footer>
        <div>
            <span>Hora:</span><span>23:41</span>
        </div>
    </footer>
</body>
</html>